{% set intro = g.site_intro_text %}

<div class="module-content box">
  <header>
    {% if intro %}
      {{ h.render_markdown(intro) }}
    {% else %}
      <h1 class="page-heading">{{ _("Welcome to the DataHub @ ELAINE") }}</h1>
      <p>
        {% trans %}
          A simple data sharing and collaboration tool.

          In order to upload datasets please contact the <a href="https://www.elaine.uni-rostock.de/en/projects/service-projects/project-inf/" target="_blank">INF project</a> after your first login.
        {% endtrans %}
      </p>
    {% endif %}
  </header>

  {# currently not used
    {% block home_image %}
      <section class="featured media-overlay hidden-xs">
        <h2 class="media-heading">{% block home_image_caption %}{{ _("This is a featured section") }}{% endblock %}</h2>
        {% block home_image_content %}
          <a class="media-image" href="#">
            <img class="img-responsive" src="{{ h.url_for_static('/base/images/placeholder-420x220.png') }}" alt="Placeholder" width="420" height="220" />
          </a>
        {% endblock %}
      </section>
    {% endblock %}
  #}
</div>
